{{- $ghSecretObj := (lookup "v1" "Secret" .Values.konflux.tssc.namespace "tssc-github-integration") | default dict -}}
{{- $secretData := (get $ghSecretObj "data") | default dict -}}
{{- if $secretData }}
  {{- $appId := (get $secretData "id") }}
  {{- $privateKey := (get $secretData "pem") }}
  {{- $webhookSecret := (get $secretData "webhookSecret") }}
  {{- range (list "build-service" "integration-service") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: pipelines-as-code-secret
  namespace: {{ . }}
type: Opaque
data:
  github-application-id: {{ $appId }}
  github-private-key: {{ $privateKey }}
  webhook.secret: {{ $webhookSecret }}
  {{- end}}
{{- end }}