---
{{- include "common.serviceAccount" . }}
---
{{- $namespaces := dict
  "integrationsecretnamespace" .Values.konflux.tssc.namespace
}}
{{- include "common.secretRWRoleBinding" (merge $namespaces .) }}
---
{{- include "common.clusterRoleBinding" . }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Release.Name }}-konflux
  labels: {{- include "common.postDeployDeleteLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: konfluxes.konflux.konflux-ci.dev-v1alpha1-view
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-secret-rw-pipelines
  namespace: {{ .Values.pipelines.namespace }}
  labels: {{- include "common.postDeployDeleteLabels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-secret-rw
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}
    namespace: {{ .Release.Namespace }}
