---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: get-rhads-config
  annotations:
    tekton.dev/displayName: "Get RHADS Config"
    tekton.dev/categories: "Pipeline"
    tekton.dev/tags: "config,rhads"
spec:
  description: >-
    This task downloads and provides the RHADS configuration file from the repository.
  params:
    - name: job-spec
      description: "Job specification metadata"
      type: string
  workspaces:
    - name: rhads-config
      description: "Workspace for storing RHADS configuration data"
  steps:
    - name: get-rhads-config
      image: quay.io/konflux-ci/appstudio-utils:ab6b0b8e40e440158e7288c73aff1cf83a2cc8a9@sha256:24179f0efd06c65d16868c2d7eb82573cce8e43533de6cea14fec3b7446e0b14
      workingDir: $(workspaces.rhads-config.path)
      env:
        - name: JOB_SPEC
          value: $(params.job-spec)
      script: |
        #!/usr/bin/env bash
        set -euo pipefail

        echo "Downloading rhads-config file:"
        # Extract the repository name from the source_repo_url
        SOURCE_REPO_URL=$(jq -r '.git.source_repo_url' <<< $JOB_SPEC)
        GIT_REPO=$(basename "$SOURCE_REPO_URL" .git)
        REPO_ORG=$(jq -r '.git.source_repo_org' <<< $JOB_SPEC)
        # Determine the branch name for the curl command.
        # If source_repo_branch starts with "refs/heads/", strip that prefix; otherwise, use as is.
        BRANCH=$(jq -r '.git.source_repo_branch' <<< $JOB_SPEC)
        if [[ "$BRANCH" == refs/heads/* ]]; then
          BRANCH="${BRANCH#refs/heads/}"
        fi

        rhads_config_file_location="integration-tests/config/rhads-config"
        curl -o rhads-config https://raw.githubusercontent.com/$REPO_ORG/$GIT_REPO/refs/heads/$BRANCH/$rhads_config_file_location

        echo "Original rhads-config content:"
        cat rhads-config
        echo "Writing rhads-config to workspace:"
        # The file is already in the workspace directory, no need to copy
